body {
    min-height: 100vh;
    width: 100%;

    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canva-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tools-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    min-height: 120px;
    width: 60%;
    padding: 12px;
    margin: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.437);
    border-radius: 12px;
    border-left: 4px solid rgb(102, 102, 234);
    border-top: 4px solid rgb(102, 102, 234);
    border-right: 5px solid rgba(5, 5, 101, 0.741);
    border-bottom: 5px solid rgba(5, 5, 101, 0.632);

    background: rgba(0, 0, 235, 0.052);

}

.colors-container {
    height: 60%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.1s;
    margin: 12px 12px 6px 12px;

    & span {
        height: 60px;
        width: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: rgba(128, 128, 128, 0.093);
        border-radius: 50%;
        font-weight: bold;
        color: white;
    }

    & #black {
        background: black;
    }

    & #blue {
        background: blue;
    }

    & #green {
        background: green;
    }

    & #orange {
        background: orange;
    }

    & #red {
        background: red;
    }

    & span:hover {
        transform: scale(1.1);
    }

    & span.clicked {
        transform: scale(0.9);
    }
}

.range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 12px 6px 12px;

    & p {
        margin: 12px 6px 12px 12px;
        font-size: 1.2em;
    }

    & input[type="range"] {
        margin: 12px 12px 12px 6px;
    }

}

canvas {
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.437);
    border-radius: 12px;
    border-left: 4px solid rgb(102, 102, 234);
    border-top: 4px solid rgb(102, 102, 234);
    border-right: 5px solid rgba(5, 5, 101, 0.741);
    border-bottom: 5px solid rgba(5, 5, 101, 0.632);

    cursor: crosshair;
}

@keyframes btnAnim {
    0% {
        background: linear-gradient(rgba(0, 0, 255, 0.543) 5%, transparent 5%, transparent 100%);
    }

    5% {
        background: linear-gradient(transparent 3%, rgba(0, 0, 255, 0.543) 10%, transparent 12%, transparent 100%);
    }

    10% {
        background: linear-gradient(transparent 7%, rgba(0, 0, 255, 0.543) 15%, transparent 17%, transparent 100%);
    }

    15% {
        background: linear-gradient(transparent 13%, rgba(0, 0, 255, 0.543) 20%, transparent 22%, transparent 100%);
    }

    20% {
        background: linear-gradient(transparent 18%, rgba(0, 0, 255, 0.543) 25%, transparent 27%, transparent 100%);
    }

    25% {
        background: linear-gradient(transparent 23%, rgba(0, 0, 255, 0.543) 30%, transparent 32%, transparent 100%);
    }

    30% {
        background: linear-gradient(transparent 28%, rgba(0, 0, 255, 0.543) 35%, transparent 37%, transparent 100%);
    }

    35% {
        background: linear-gradient(transparent 33%, rgba(0, 0, 255, 0.543) 40%, transparent 42%, transparent 100%);
    }

    40% {
        background: linear-gradient(transparent 38%, rgba(0, 0, 255, 0.543) 45%, transparent 47%, transparent 100%);
    }

    45% {
        background: linear-gradient(transparent 43%, rgba(0, 0, 255, 0.543) 50%, transparent 48%, transparent 100%);
    }

    50% {
        background: linear-gradient(transparent 48%, rgba(0, 0, 255, 0.543) 55%, transparent 57%, transparent 100%);
    }

    55% {
        background: linear-gradient(transparent 57%, rgba(0, 0, 255, 0.543) 60%, transparent 62%, transparent 100%);
    }

    60% {
        background: linear-gradient(transparent 58%, rgba(0, 0, 255, 0.543) 65%, transparent 63%, transparent 100%);
    }

    65% {
        background: linear-gradient(transparent 63%, rgba(0, 0, 255, 0.543) 70%, transparent 72%, transparent 100%);
    }

    70% {
        background: linear-gradient(transparent 68%, rgba(0, 0, 255, 0.543) 75%, transparent 77%, transparent 100%);
    }

    75% {
        background: linear-gradient(transparent 73%, rgba(0, 0, 255, 0.543) 80%, transparent 82%, transparent 100%);
    }

    80% {
        background: linear-gradient(transparent 78%, rgba(0, 0, 255, 0.543) 85%, transparent 87%, transparent 100%);
    }

    85% {
        background: linear-gradient(transparent 83%, rgba(0, 0, 255, 0.543) 90%, transparent 92%, transparent 100%);
    }

    90% {
        background: linear-gradient(transparent 88%, rgba(0, 0, 255, 0.543) 95%, transparent 97%, transparent 100%);
    }

    95% {
        background: linear-gradient(transparent 93%, rgba(0, 0, 255, 0.543) 100%);
    }

    100% {
        background: linear-gradient(transparent 100%, rgba(0, 0, 255, 0.543));
    }

}

.erase-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 80%;

    & button {
        position: relative;

        height: 40px;
        width: 80px;
        font-size: 1.2em;

        cursor: pointer;
        background: rgb(223, 223, 238);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.437);
        border-radius: 12px;
        border-left: 4px solid rgb(102, 102, 234);
        border-top: 4px solid rgb(102, 102, 234);
        border-right: 5px solid rgba(5, 5, 101, 0.741);
        border-bottom: 5px solid rgba(5, 5, 101, 0.632);
        color: rgba(42, 42, 182, 0.822);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
    }

    & button:active {
        border-left: 5px solid rgba(5, 5, 101, 0.741);
        border-top: 5px solid rgba(5, 5, 101, 0.632);
        border-right: 5px solid rgb(102, 102, 234);
        border-bottom: 5px solid rgb(102, 102, 234);
    }

    & button::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: transparent;

    }

    & button:hover::after {
        animation: btnAnim 0.25s ease-in-out forwards;
    }
}